@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&family=Lexend+Deca&display=swap');

/* font-family: 'Big Shoulders Display', cursive;
font-family: 'Lexend Deca', sans-serif; */

:root {
  --page-1-color: darkgreen;
  --page-2-color: chocolate;
  --page-3-color: purple;
  --page-4-color: crimson;
  --page-5-color: navy;
  --animate-speed: 1.2s;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.35;
  color: #fff;
  overflow: hidden;
  font-family: 'Lexend Deca', sans-serif;
}

/* Page Color */
#page-1 { background: var(--page-1-color); }
#page-2 { background: var(--page-2-color); }
#page-3 { background: var(--page-3-color); }
#page-4 { background: var(--page-4-color); }
#page-5 { background: var(--page-5-color); }

.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 5rem;
  gap: 3rem;
}

.page h1 {
  font-family: 'Big Shoulders Display', cursive;
  font-weight: bold;
  font-size: 8rem;
  line-height: 1.2;
}

.page p {
  font-size: 2rem;
}

.btn {
  display: inline-block;
  padding: 1.2rem 3.5rem;
  background: #f4f4f4;
  color: #333;
  text-decoration: none;
  margin-top: 1rem;
  border: none;
  font-size: 1.8rem;
  transition: background, color 300ms ease-in;
}
.btn:hover,
.btn-dark {
  background: #333;
  color: #fff;
}

.btn-dark:hover {
  background: #f4f4f4;
  color: #333;
}

/* keyframes */
@keyframes animate-heading {
  to {
    transform: translateY(0);
  }
}

@keyframes animate-paragraph {
  to {
    transform: translateX(0);
  }
}

/* Page Animations */
#page-1 h1 {
  transform: translateY(-200rem);
  animation: animate-heading var(--animate-speed) forwards ease-in-out;
}

#page-1 p {
  transform: translateX(-300rem);
  animation: animate-paragraph var(--animate-speed) forwards var(--animate-speed) ease-in-out;
}